<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="http://m.tuniu.com/miniTool/?v=2015121607&amp;f=site/m2015/css/common/common.css,site/m2015/css/font/font.css" />
	<title>途牛国内用车频道</title>
    <meta name="keywords" content="旅游,旅游线路,旅游网,用车">
    <meta name="description" content="途牛旅游网-中国专业全面的旅游网;提供自助游(自由行),国内旅游,出境旅游,自驾游,公司旅游。低价保证,专业服务,九大出游保障,服务超百万人出游">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="applicable-device"content="mobile">
    <meta name="format-detection" content="telephone=no">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-retina.png">
</head>
<body>

    <input type="hidden" id="appTitle" name="appTitle" value="旅游_旅游网_旅游线路_自助游_自驾游_公司旅游_途牛旅游网" />
    <div id="tn_app_top_bar" style="display: none;">
        <input id="top_bar_title" value="旅游_旅游网_旅游线路_自助游_自驾游_公司旅游_途牛旅游网" /><input id="top_bar_sub_title" value="" /><input id="top_bar_show_refresh" value="" />
    </div>

    <div class="wx-share" id="shareArea" style="display:none;">
        <input type="hidden" id="shareTitle" value="旅游_旅游网_旅游线路_自助游_自驾游_公司旅游_途牛旅游网" />
        <input type="hidden" id="shareDesc" value="途牛旅游网-中国专业全面的旅游网;提供自助游(自由行),国内旅游,出境旅游,自驾游,公司旅游。低价保证,专业服务,九大出游保障,服务超百万人出游" />
        <input type="hidden" id="shareLink" value="http://m.tuniu.com/car" />
        <img id="shareImg" src="http://img4.tuniucdn.com/site/wap/img/common/logo.png" />
    </div>

    <script src="http://m.tuniu.com/site/js/new/weixin/wx-share.js"></script>

	<script>
		var globalAjaxControl = {"location":true,"justLocationIP":false,"jumpWhenLocationOver":"","hasJumpCallback":true,"user":["id","userName","nickName","head_img"],"phone":true};
	</script>
	<script src="http://m.tuniu.com/site/m2015/js/global/global.min.js"></script>
    <script src="http://m.tuniu.com/site/m2015/js/global/app_download.min.js"></script>
</body>
</html>
